
@import 'tools/decorators.scss';
@import 'settings/base.scss';

@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

@mixin clearfix() {
  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}

* {
  @include clearfix();

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



html, body {
  background-color: $body-bg;
  height: 100%;
}

.layout {
  background-color: $body-bg;
  color: $text-color;
  font-family: 'Space Mono', monospace;
  height: 100%;
}

.layout-wrapper {
  padding: 50px;
  padding-bottom: 100px;
}

.offie-backdrop {
  background-color: rgba($body-bg, 1);
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  z-index: 0;
}

.offie-modal {

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.offie-modal--loader {
  background: url('../resources/loader.svg');
  background-size: 5px 5px;
  height: 50px;
  width: 250px;
}

.offie-modal--user-login,
.offie-modal--system-intrusion {
}

.navbar {
  .navbar-header {
    text-transform: uppercase;
  }
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav--system-dock {
  margin-left: -5px;
  margin-right: -5px;

  .nav-item {
    float: left;
    padding: 0 5px;

    .nav-link {
      background: $body-bg url('../resources/pattern-dot.svg');
      background-size: 5px 5px;
      display: block;
      height: 120px;
      width: 120px;
    }
  }
}

.layout-header {
  @include clearfix();
  border-bottom: 1px solid rgba($brand-primary, 0.6);
  margin-bottom: 10px;

  .nav--system-status {
    float: right;
  }
}

.layout-main {
  margin-left: -5px;
  margin-right: -5px;

  .layout-panel {
    float: left;
    padding: 0 5px;
  }

  .layout-panel--aside-left {
    width: 33.333333%;
  }

  .layout-panel--content-main {
    width: 66.666666%;
  }
}

.layout-footer {
  bottom: 0;
  left: 0;
  padding: 50px;
  padding-top: 0px;
  position: fixed;
  width: 100%;

  .nav--system-dock {

  }
}

.section-header {
  border-bottom: 1px solid rgba($brand-primary, 0.4);
  margin-bottom: 10px;
  padding: 5px 10px;
  position: relative;
}

.section-body {
  background: url('../resources/locked.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 95% 90%, auto;
  border: 1px solid rgba($brand-primary, 0.4);
  min-height: 150px;
  padding: 10px;
  position: relative;
}

.section-title {
  margin: 0;
}

.section-decorator--bottom,
.section-decorator--top {
  @include line-corners();
}

